@model IEnumerable<Team_WASD_GSSMSClient.GameDBServiceReference.Game>

@{
    ViewBag.Title = "PS5 Games";
}

<!-- Author: Anran Qin, PS5 games page-->
<!-- Checking session -->
@if (Session["UserName"] != null)
{
    <h2>PS5 Games</h2>
    <div>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </div>


    <br />

    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.GameTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStockAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Operations</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.GameTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStockAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Platform)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>

}
else
{
    <h2>You dont have the permission to view this page!!!</h2>
    <div>
        @Html.ActionLink("Back to Login Page", "../Home/Login", null, new { @class = "btn btn-primary" })
    </div>
}
